#Removes .vscode settings
.vscode

#Removes python cache
.cache

#Remove config files with sensitive data
config.json

#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Remove database file
guild_settings.db

#Remove DS_Store
.DS_Store

#Remove .egg-info
Christopher_Bot.egg-info