#Removes .vscode settings
.vscode

#Removes python cache
.cache

#Remove config files with sensitive data
config.json

#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class